//https://blog.logrocket.com/8-ways-to-deploy-a-react-app-for-free/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1f26;
  color: white;
  position: relative;
}

.App {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 10px;
}

body > #root > div {
  min-height: 100vh;
}

//----------------------
//style to the error if there is any
//----------------------
.error {
  color: red;
  font-weight: bold;
  font-size: 40px;
}

//----------------------
//cookie policy
//----------------------
.cookie-policy-wrapper {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);

  .cookie-policy-content {
    padding: 10px;
    font-size: 2.5vh;
    p {
      display: inline;
      margin-right: 10px;
    }
    button {
      padding: 5px;
    }
  }
}

//----------------------
//animate typing
//----------------------
.typing {
  width: 48ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  animation: typing 2s steps(50, end), blink-caret 0.75s step-end infinite;
  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #fff;
    }
  }
}

//----------------------
//nav
//----------------------
nav {
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;

  .list-inline {
    list-style-type: none;

    li {
      float: left;
      a {
        font-size: 17px;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      a:hover {
        background-color: gray;
      }
    }
  }
  .close {
    display: none;
  }
  .open {
    display: none;
  }
}
//----------------------
//Loader
//----------------------
.loading {
  width: 100%;
  height: 100%;
  background-color: #1e1f2670;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

.loader {
  align-self: center;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  font-size: 30px;
  animation: spin 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;

  @keyframes spin {
    0% {
      border: 16px solid gray;
    }
    50% {
      border: 16px solid #1e1f26;
    }
    100% {
      transform: rotate(360deg);
      border: 16px solid gray;
    }
  }
}

//----------------------
//modal
//----------------------
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    max-height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto);
    grid-column-gap: 10px;
    background-color: #393939;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;

    h1 {
      grid-row: 1;
      grid-column: 1;
    }
    a {
      margin-top: 10px;
      color: white;
      font-weight: bolder;
    }
    a:hover {
      color: rgba(177, 175, 175, 0.5);
    }
    .close {
      grid-column: 2;
      justify-self: end;
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    .close:hover,
    .close:focus {
      color: black;
      cursor: pointer;
    }

    img {
      width: 100%;
    }

    .work-links {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .github-link {
      justify-self: flex-end;
    }
  }
}

//----------------------
//home
//----------------------
.home {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-row-gap: 20px;
  text-align: center;
  justify-content: center;
  .banner {
    grid-column: 1/4;
    display: flex;
    background-color: black;
    p,
    h1 {
      margin-top: 10px;
    }
    h1 {
      font-size: 3.5vh;
      font-weight: bolder;
      align-self: center;
      margin-left: 20px;
    }
  }
  .loader {
    align-self: center;
  }
  h2 {
    align-self: center;
  }

  .devicon-csharp-line-wordmark {
    font-size: 30px;
  }
  ul {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      border-radius: 10%;
      display: inline-block;
      background-color: #1e1f26;
      padding: 15px;
      margin: 10px;
    }
  }

  .profail {
    width: 25vh;
    height: 25vh;
    border-radius: 6em;
  }
  .home-about-me-container {
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    align-items: center;
    width: 70%;
    background-color: black;
    .spacle {
      font-size: 3vh;
    }
    .home-about-me-text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      h2 {
        font-size: 30px;
        grid-column: 1/4;
        grid-row: 1;
        align-self: center;
      }
      p {
        margin-top: 10px;
        padding: 10px;
        &:last-child {
          border-left: 1px solid gray;
        }
      }
    }
    .skills {
      /*  margin-top: 50px; */
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      .loader {
        align-self: center;
      }
      h2 {
        align-self: center;
      }

      .devicon-csharp-line-wordmark {
        font-size: 30px;
      }
      ul {
        align-self: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
          border-radius: 10%;
          display: inline-block;
          background-color: #1e1f26;
          padding: 15px;
          margin: 10px;
        }
      }
    }
  }
}

//----------------------
//about me
//----------------------
.about-me {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-row-gap: 20px;
  text-align: center;
  justify-content: center;
  h1 {
    grid-column: 1/4;
  }
  .about-me-content {
    grid-column: 1/4;
    justify-self: center;
    width: 50%;
    display: flex;
    align-self: center;
  }
  .about-me-img {
    justify-self: center;
    width: 300px;
    height: 300px;
    border: solid 1px gray;
  }
}

//----------------------
//work
//----------------------
.workSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  .searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 20px 0 50px 0;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      select {
        width: 200px;
        height: 30px;
        border: 1px solid black;
        background-color: #303138;
        border-radius: 10px;
        margin: 5px;
        text-align-last: center;
        font-size: 15px;
        color: white;
        option {
          color: white;
          text-align: center;
          font-size: 15px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      button {
        width: 100%;
        height: 30px;
        background-color: #303138;
        color: white;
        border: 1px solid black;
        margin-top: 10px;
        font-size: 15px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .work {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto, 100px);
    grid-gap: 15px;
    .error {
      text-align: center;
      grid-column: 1/4;
    }
    img {
      justify-self: center;
      border: 2px solid gray;
      width: 200px;
      height: 200px;
    }
    img:hover {
      padding: 2px;
      cursor: pointer;
      box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .loader {
      grid-column: 2;
    }
  }
  .modalImg {
    width: 100%;
    height: 100%;
  }
}

//----------------------
//edcationplan
//----------------------
.edcationPlan {
  text-align: center;
  width: 100%;
  h1 {
    margin: 20px 0 20px 0;
  }
  ul {
    list-style-type: none;
    width: 100%;
    li {
      border: solid 3px gray;
      margin: 0 auto;
      margin-bottom: 15px;
      width: 50%;
      padding: 0.4vw;
      background-color: #05060d;
      display: grid;
      grid-template-columns: 1fr 1fr;
      p,
      h2 {
        font-size: 3vh;
        align-self: center;
      }
      .time {
        border-left: solid 3px gray;
      }
    }
    li:nth-child(even) {
      background-color: #1f2026;
    }
  }
}

//----------------------
//login
//----------------------
.login {
  text-align: center;
  .loggedIn {
    p {
      margin-bottom: 10px;
    }
    img {
      width: 7vw;
      border-radius: 10em;
    }
  }
  .logout {
    margin-top: 10px;
  }
  .cange-name-form {
    margin-top: 10px;
  }
  span {
    margin-bottom: 10px;
  }
  div {
    .login-toggle {
      display: inline-block;
      font-weight: bolder;
      width: auto;
      border-bottom: solid 2px black;
    }
    p:hover {
      cursor: pointer;
    }
  }
}

//----------------------
//footer
//----------------------
footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    color: white;
    i {
      padding: 10px;
    }
  }
  i {
    padding: 10px;
  }
  p {
    font-size: 1.5vw;
    padding: 12px 16px;
    text-align: center;
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 20px;
    display: flex;
    justify-content: flex-end;

    .sidepanel {
      width: auto;
      height: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      right: -120px;
      background-color: #121212f2;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      animation: example 1s forwards;

      .close {
        align-self: flex-end;
        padding: 10px;
        display: block;
      }
      .close:hover {
        cursor: pointer;
      }

      li {
        border: solid 1px gray;
        background-color: black;
        margin: 5px;
        a {
          padding: 8px 8px 8px 8px;
          text-decoration: none;
          display: block;
        }
      }
    }

    @keyframes example {
      0% {
        right: -120px;
      }
      100% {
        right: 0;
      }
    }
    .close,
    .open {
      display: block;
    }
  }

  .typing {
    animation: none;
    border: none;
    white-space: normal;
    width: 100%;
  }

  .home {
    .banner {
      h1 {
        width: 100%;
      }
    }
    .home-about-me-container {
      height: 100%;
      .home-about-me-text {
        grid-template-columns: 1fr;
        h1 {
          grid-column: 1;
        }
        p {
          grid-column: 1;
          &:last-child {
            border: none;
            border-top: solid 1px gray;
          }
        }
      }
    }
  }

  .workSection {
    .work {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      padding: 10px;
      .loader {
        grid-column: 1/3;
      }
      .error {
        grid-column: 1/3;
      }
      img {
        height: 200px;
      }
    }
  }
  .modal {
    .modal-content {
      margin: 0;
      width: 100%;

      img {
        grid-column: 1/3;
        width: 50%;
        height: 100%;
        justify-self: center;
      }
      p {
        grid-column: 1/3;
      }
      .work-links {
        grid-column: 1/3;
        padding: 10px;
      }
    }
  }

  .about-me {
    margin: 0;
    .about-me-content {
      flex-direction: column;
      .about-me-img {
        width: 100%;
        height: 100%;
      }
      p {
        text-align: center;
      }
    }
  }

  .edcationPlan {
    ul {
      li {
        width: 80%;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        .time {
          border: none;
          border-top: solid 3px gray;
          padding: 10px;
        }
      }
    }
  }

  .login {
    .loggedIn {
      img {
        width: 20vw;
      }
    }
  }

  .cookie-policy-wrapper {
    text-align: center;
  }

  footer {
    p {
      font-size: 3vw;
    }
  }
}

@media only screen and (max-width: 500px) {
  .workSection {
    img {
      grid-column: 1/3;
    }
  }
  footer{
    p{
      font-size: 4vw;
    }
  }
}
