@import "style/AboutMe.scss", "style/EdcationPlan.scss", "style/Footer.scss",
  "style/Home.scss", "style/Modal.scss", "style/Work.scss",
  "style/NotFound.scss", "style/ERP.scss";

//https://blog.logrocket.com/8-ways-to-deploy-a-react-app-for-free/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1f26;
  color: white;
  position: relative;
}

.App {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 10px;
}

body > #root > div {
  min-height: 100vh;
}

//----------------------
//style to the error if there is any
//----------------------
.error {
  color: red;
  font-weight: bold;
  font-size: 40px;
}

//----------------------
//cookie policy
//----------------------
.cookie-policy-wrapper {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);

  .cookie-policy-content {
    padding: 10px;
    font-size: 2.5vh;
    p {
      display: inline;
      margin-right: 10px;
    }
    button {
      padding: 5px;
    }
  }
}

//----------------------
//animate typing
//----------------------
.typing {
  width: 48ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  animation: typing 2s steps(50, end), blink-caret 0.75s step-end infinite;
  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #fff;
    }
  }
}

//----------------------
//nav
//----------------------
nav {
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;

  .list-inline {
    list-style-type: none;

    li {
      float: left;
      a {
        font-size: 17px;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      a:hover {
        background-color: gray;
      }
    }
  }
  .close,
  .background-close,
  .open {
    display: none;
  }
}
//----------------------
//Loader
//----------------------
.loading {
  width: 100%;
  height: 100%;
  background-color: #1e1f2670;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;

  .loader {
    align-self: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: 30px;
    animation: spin 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;

    @keyframes spin {
      0% {
        border: 16px solid gray;
      }
      50% {
        border: 16px solid #1e1f26;
      }
      100% {
        transform: rotate(360deg);
        border: 16px solid gray;
      }
    }
  }
}

//----------------------
//login
//----------------------
.login {
  text-align: center;
  .loggedIn {
    p {
      margin-bottom: 10px;
    }
    img {
      width: 7vw;
      border-radius: 10em;
    }
  }
  .logout {
    margin-top: 10px;
  }
  .cange-name-form {
    margin-top: 10px;
  }
  span {
    margin-bottom: 10px;
  }
  div {
    .login-toggle {
      display: inline-block;
      font-weight: bolder;
      width: auto;
      border-bottom: solid 2px black;
    }
    p:hover {
      cursor: pointer;
    }
  }
}

/* tablet */
@media only screen and (max-width: 768px) {
  nav {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    .sidepanel {
      width: auto;
      height: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      right: -120px;
      background-color: #121212f2;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      animation: example 1s forwards;

      .close {
        align-self: flex-end;
        padding: 10px;
        display: block;
      }
      .close:hover {
        cursor: pointer;
      }

      li {
        border: solid 1px gray;
        background-color: black;
        margin: 5px;
        a {
          padding: 8px 8px 8px 8px;
          text-decoration: none;
          display: block;
        }
      }
    }

    @keyframes example {
      0% {
        right: -120px;
      }
      100% {
        right: 0;
      }
    }
    .close,
    .open,
    .background-close {
      display: block;
    }
    .background-close {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }
  }

  .typing {
    animation: none;
    border: none;
    white-space: normal;
    width: 100%;
  }

  .home {
    .banner {
      h1 {
        width: 100%;
      }
    }
    .home-about-me-container {
      height: 100%;
      .home-about-me-text {
        grid-template-columns: 1fr;
        h1 {
          grid-column: 1;
        }
        p {
          grid-column: 1;
          &:last-child {
            border: none;
            border-top: solid 1px gray;
          }
        }
      }
    }
  }

  .workSection {
    .work {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      padding: 10px;
      .loader {
        grid-column: 1/3;
      }
      .error {
        grid-column: 1/3;
      }
      img {
        height: 200px;
      }
    }
  }
  .modal {
    .modal-content {
      margin: 0;
      width: 100%;

      img {
        grid-column: 1/3;
        width: 50%;
        height: 100%;
        justify-self: center;
      }
      p {
        grid-column: 1/3;
      }
      .work-links {
        grid-column: 1/3;
        padding: 10px;
      }
    }
  }

  .about-me {
    margin: 0;
    .about-me-content {
      width: 100%;
      flex-direction: column;
      .about-me-img {
        width: 100%;
        height: 100%;
      }
      p {
        text-align: center;
      }
    }
  }

  .edcationPlan {
    ul {
      li {
        width: 80%;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        .time {
          border: none;
          border-top: solid 3px gray;
          padding: 10px;
        }
      }
    }
  }

  .login {
    .loggedIn {
      img {
        width: 20vw;
      }
    }
  }

  .cookie-policy-wrapper {
    text-align: center;
  }

  .notFound {
    p {
      text-align: center;
      font-size: 2em;
      margin: 5vh;
      /* margin-top: 10vh; */
    }
  }

  footer {
    p {
      font-size: 3vw;
    }
  }
}

/* phone */
@media only screen and (max-width: 425px) {
  .workSection {
    img {
      grid-column: 1/3;
    }
  }
  footer {
    p {
      font-size: 4vw;
    }
  }
}
